*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
/* Colors */
:root{
    --color1: hsl(75, 94%, 57%);
    --color2: hsl(0, 0%, 100%);
    --color3: hsl(0, 0%, 20%);
    --color4: hsl(0, 0%, 12%);
    --color5: hsl(0, 0%, 8%);
}
/* Font Link */
@font-face{
    font-family: Inter;
    src: url(assets/fonts/static/Inter-Regular.ttf);
    font-weight: 400, 600, 700;
}
/* Body Tag */
body{
    background-color: black;
    width: 1440px;
    margin: 0 auto;
    /* overflow: hidden; */

}
.main{
    width: 100%;
    margin: 0 auto;
    background-color: var(--color5);
    position: relative;
    padding: 100px;
}
.box{
    background-color: var(--color4);
    width: 30%;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
    padding: 20px;
}
header{
    text-align: center;
}
img{
    width: 40%;
    border-radius: 100px;
    padding: 10px;
}
h2{
    color: var(--color2);
    text-align: center;
    font-family: Inter;
    src: url(assets/fonts/static/Inter-Regular.ttf);
}
h3{
    color: var(--color1);
    padding: 10px ;
    font-family: Inter;
    src: url(assets/fonts/static/Inter-Regular.ttf);
    font-weight: 700;
    font-size: 14px;
}
p{
    color: var(--color2);
    font-weight: lighter;
    font-size: 15px;
    text-align: center;
    font-family: Inter;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
    padding: 20px;
}
body .buttons{
    margin: 0 auto;
    width: 100%;
    padding: 0;

}
body a button{
    background-color: var(--color3);
    margin: 0 auto;
    width: 100%;
    height: 6vh;
    border-radius: 10px;
    outline: none;
    border: none;
}
.buttons a button{
    text-align: center;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-size: 18px;

}
 a button:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
    transition: 0.3s;
}
.btn{
    padding: 7px;
    width: 100%;
    margin: 0 auto;

}

@media screen and (max-width:375px) {
   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
    .main{
        width: 375px;
        margin: 0 auto;
        padding: 0;
    }
    .box{
        width: 80%;
        margin: 0 auto;
        border-radius: 10px;
        padding: 0;
    }
    body .buttons{
        margin: 0 auto;
        width: 100%;
        padding: 0;
    
    }
}  
